@use './styles/main' as *;
@use './styles/navbar' as *;
@use './styles/colors';



.body {
  background: $light;

  &__container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    height: 90vh;
    padding: 0 24px;
    z-index: 12;
    width: 100%;
    max-width: 1200px;

    @include tablet {
      grid-template-columns: 1fr;
      height: 100%;
    }

    &--left {
      width: 100%;
      line-height: 1.2;

      @include tablet {
        padding: 5rem 0;
      }

      @include mobile {
        line-height: 1.5;
      }
    }

    &--left h1 {
      font-size: 4rem;
      color: $lime;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--left h2 {
      font-size: 4rem;
      color: $dark;

      @include mobile {
        font-size: 2rem;
      }
    }
    &--left p {
      font-size: 2rem;
      margin-top: 1rem;
      color: $dark;
      font-weight: 700;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &--btn {
      font-size: 1rem;
      color: $light;
      border: none;
      margin-top: 2rem;
      padding: 14px 32px;
      background: $lime;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;
      position: relative;
      outline: none;
    }

      & a {
        position: relative;
        text-decoration: none;
        color: $light;
        z-index: 2;
      }
      
      &--btn:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $orangeRed;
      transition: all 0.3s;
      border-radius: 4px;
      }

    &--btn:hover::after {
      width: 100%;
    }

    &--right {
      text-align: center;
    }

    &--img {
      width: 100%;
      height: 100%;
    }
  }
}