@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}
body {
  background-color: #ecf0f3;
}
nav {
  width: 100%;
  padding: 12px 0;
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
              3px 3px 5px #ceced1;
}
nav .menu {
  max-width: 1270px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo a {
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
  color: #31344b;
}
nav label.button {
  color: #31344b;
  font-size: 18px;
  cursor: pointer;
  display: none;
}
nav label.cancel {
  position: absolute;
  top: 25px;
  right: 30px;
}
#check {
  display: none;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu ul a {
  position: relative;
  margin: 0 8px;
  text-decoration: none;
  font-size: 18px;
  color: #31344b;
  font-weight: 400;
  display: inline-block;
  padding: 10px 12px;
  transition: all 0.3s ease;
  box-shadow: -3px -3px 7px #ffffff,
              3px 3px 5px #ceced1;
}
.menu ul a:hover::before {
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}
.menu ul a:hover {
  color: #3498db;
}
@media (max-width: 940px) {
  .menu ul {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 400px;
    padding-top: 45px;
    height: 100%;
    background: #ecf0f3;
    box-shadow: 0 5px 10px #b0b0b5;
    z-index: 1;
    transition: all 0.3s ease;
  }
  .menu ul a {
    display: block;
    font-size: 23px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
    box-shadow: none;
  }
  .menu ul a:hover::before {
    box-shadow: none;
  }
  .menu label.bars {
    display: block;
  }
  #check:checked ~ label.bars {
    display: none;
  }
  #check:checked ~ ul label.cancel {
    display: block;
  }
  #check:checked ~ ul {
    left: 0;
  }
}