@import "colors";
@import "media-queries";

%align-items {
  display: flex;
  align-items: center;
}

.navbar {
  background: $light;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0.5rem calc((100vw - 1200px) /2);
  z-index: 1;
  position: relative;

  &__logo {
    @extend %align-items;
    color : $dark;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 24px;
  }

  &__bars {
    opacity: 0;
    @include tablet {
      opacity: 1;
      position: absolute;
      color: $dark;
      right: 20px;
      top: 22px;
      font-size: 2rem;
    }
  }

  &__menu {
    @extend %align-items;
    text-align: center;
    list-style: none;
    margin-right: 24px;

    @include tablet {
      display: none;
    }

    &--links {
      @extend %align-items;
      color: $dark;
      text-decoration: none;
      padding: 0 1rem;

      &:hover {
        color: $lime;
        transition: all 0.3s ease;
      }
    }

    #button {
      color: $light;
      outline: none;
      border: none;
      border-radius: 4px;
      background: $lime;
      margin-left: 16px;
      padding: 12px 24px;

      &:hover {
        background: $orangeRed;
        transition: all 0.3s ease;
      }
    }
  }
}